<!-- 📄 src/main/resources/templates/layout/navi.html -->
<nav th:fragment="menu">
    <header class="navbar">
        <div class="nav-left">
            <button class="nav-button" th:onclick="|location.href='@{/main}'|">セヨン</button>
            <!--
            <div class="nav-title">커뮤니티</div>
            -->
        </div>

        <div class="nav-right">
            <a th:href="@{/main}">홈</a>
            <a th:href="@{/notice}">공지게시판</a>
            <a th:href="@{/free}">자유게시판</a>
            <a th:href="@{/calendar}">캘린더</a>
        </div>
    </header>
</nav>

