<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
    <link rel="stylesheet" th:href="@{/css/edit.css}">
</head>

<body>
<div th:replace="layout/navi :: menu"></div> <!-- 네비게이션 -->
<div class="container">
    <h1>게시글 등록</h1>

    <!-- 제목 -->
    <div class="form-group">
        <input type="text" placeholder="제목을 입력하세요.">
    </div>

    <!-- 아이디 / 비밀번호 -->
    <div class="id-pass-group">
        <div class="form-group">
            <label for="userId">아이디:</label>
            <input type="text" id="userId" placeholder="">
        </div>
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" id="password" placeholder="">
        </div>
    </div>

    <!-- 내용 -->
    <div class="form-group">
        <textarea placeholder="이 게시물은 공식 문서 스타일의 본문입니다.
사진 없이 텍스트로만 작성됩니다.
줄바꿈과 문단이 보존되어 출력됩니다."></textarea>
    </div>

    <!-- 버튼 -->
    <div class="btn-group">
        <button class="btn btn-cancel">취소</button>
        <button class="btn btn-submit">등록</button>
    </div>
</div>
</body>
</html>
