<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>자유 게시판</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="layout/navi :: menu"></div> <!-- menu herder-->
<div class="container">
    <h1>자유 게시판</h1>

<!--    &lt;!&ndash; 검색 영역 &ndash;&gt;-->
<!--    <div class="search-bar">-->
<!--        <div class="search-bar-left">-->
<!--            <input type="text" placeholder="검색어를 입력하세요. (제목/본문)"/>-->
<!--            <button class="btn">검색</button>-->
<!--            <button class="btn">초기화</button>-->
<!--        </div>-->
<!--        <a th:href="@{/free/write}" class="btn">글쓰기</a>-->
<!--    </div>-->

    <!-- 게시판 테이블 -->
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${boards}">
            <td th:text="${b.id}">1</td>
            <td>
                <a th:href="@{'/free/' + ${b.id}}" th:text="${b.title}">게시글 제목</a>
            </td>
            <td th:text="${b.createdAt != null ? #temporals.format(b.createdAt, 'yyyy-MM-dd HH:mm') : '-'}">2025.11.05
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(boards)}">
            <td colspan="3" style="text-align:center;">등록된 게시글이 없습니다.</td>
        </tr>
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <div class="pagination">
        <button th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                th:text="${i + 1}"
                th:classappend="${i == page.number} ? 'active' : ''"
                th:onclick="'location.href=\'/free?page=' + ${i} + '\';'"
                class="page-btn">
        </button>
    </div>
</div>
</body>
</html>
