<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>자유 게시판</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="layout/navi :: menu"></div> <!-- menu herder-->
<div class="container">
    <h1>자유 게시판</h1>

    <!-- 검색 영역 -->
    <div class="search-bar">
        <a th:href="@{/free/write}" class="btn">글쓰기</a>
    </div>

    <!-- 게시판 테이블 -->
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b, iter : ${boards}">
            <!--            <td th:text="${b.id}">1</td>-->
            <td th:text="${page.totalElements - (page.number * page.size) - iter.index}"></td>
            <td>
                <a th:href="@{'/free/' + ${b.id}}" th:text="${b.title}"></a>
            </td>
            <td th:text="${b.createdAt != null ? #temporals.format(b.createdAt, 'yyyy-MM-dd HH:mm') : '-'}">
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(boards)}">
            <td colspan="3" style="text-align:center;">등록된 게시글이 없습니다.</td>
        </tr>
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <div class="pagination" th:if="${page.totalPages > 1}">
        <button th:each="i : ${#numbers.sequence(1, page.totalPages)}"
                th:text="${i}"
                th:classappend="${i == page.number + 1} ? 'active' : ''"
                th:onclick="'location.href=\'/free?page=' + ${i - 1} + '\';'"
                class="page-btn">
        </button>
    </div>
</div>
</body>
</html>
